@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p> <a href = https://cybersafetytime.com/does-internet-privacy-exist/> There is no privacy in the internet! </a></p>
<p> <cite> Internet privacy does not exist in absolute terms.
    The moment you visit a website or send a message over the internet,
    you send that information over to other computers.
    The people responsible for those systems may willingly or unwillingly 
    let your data slip to third parties unknown to you. </cite>
